{{nav-bar beds=true}}
<div class="ui four column grid">
  <div class="left floated two wide column">
    {{bed-side-bar bedInput=true}}
  </div>
  <div class="twelve wide column">
    {{bed-input-form}}
  </div>
</div>
