<div class="ui secondary pointing menu">
  <a class="item {{if home 'active'}}">{{#link-to "index"}}
    Home{{/link-to}}
  </a>
  <a class="item {{if createPlant 'active'}}">
    {{#link-to "create-plant"}}Plant Input{{/link-to}}
  </a>
  <a class="item">
    Plant Finder
  </a>
  <a class="item">
    Plant Care
  </a>
  <a class="item">
    What's Blooming
  </a>
  <a class="item {{if beds 'active'}}">
    {{#link-to "beds"}}Beds{{/link-to}}
  </a>
  <a class="item">
    Native Trees
  </a>
  <a class="item">
    Garden Art
  </a>
  <a class="item">
    Maps
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
