<div class="ui secondary vertical pointing menu">
  <a class="item {{if bedInput 'active'}}">
    {{#link-to "bed-input"}}Bed Input{{/link-to}}
  </a>
  <a class="item {{if bedList 'active'}}">
    {{#link-to "bed-list"}}Bed List{{/link-to}}
  </a>
</div>
