{{nav-bar beds=true}}
<div class="ui four column grid">
  <div class="left floated two wide column">
    {{bed-side-bar bedList=true}}
  </div>
  <div class="twelve wide column">
    <div class="ui three column grid">
      <div class="two wide column"/>
      <div class="eight wide column">
        {{#each model.beds as |bed|}}
          <div class="row">
            <div class="ui vertical fluid menu">
              <div class="header item"><a>{{bed.name}}</a></div>
              {{#each bed.subBeds as |subBed|}}
                <div class="item"><a>{{subBed.name}}</a></div>
              {{/each}}
            </div>
          </div>
          <div class="row"><br></div>
        {{/each}}
      </div>
      <div class="six wide column"/>
    </div>
  </div>
</div>
